<!-- <script scr="/assets/javascripts/comments/comments.js"></script> -->
<%= javascript_include_tag 'comments/comments.js' %>
<div class="container">
  <div class="row maps-collection">


    
  </div>
</div>