/*  index o maps */
 .small-maps{
    height: 60%;
    width: 100%;
  }
   .each-map{
    height: 300px;
  }



  /*  buttons */
.button {
   border: 2px solid #0a517a;
   background: #226999;
   background: -webkit-gradient(linear, left top, left bottom, from(#a9bbc7), to(#226999));
   background: -webkit-linear-gradient(top, #a9bbc7, #226999);
   background: -moz-linear-gradient(top, #a9bbc7, #226999);
   background: -ms-linear-gradient(top, #a9bbc7, #226999);
   background: -o-linear-gradient(top, #a9bbc7, #226999);
   background-image: -ms-linear-gradient(top, #a9bbc7 0%, #226999 100%);
   padding: 8px 16px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #4b89b3 0 1px 0;
   color: #eaebd6;
   font-size: 12px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 2px solid #6ec5f0;
   text-shadow: #91a9b8 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#acadb3), to(#3e779d));
   background: -webkit-linear-gradient(top, #acadb3, #3e779d);
   background: -moz-linear-gradient(top, #acadb3, #3e779d);
   background: -ms-linear-gradient(top, #acadb3, #3e779d);
   background: -o-linear-gradient(top, #acadb3, #3e779d);
   background-image: -ms-linear-gradient(top, #acadb3 0%, #3e779d 100%);
   color: #cacfe6;
   }
.button:active {
   text-shadow: #979e61 0 1px 0;
   border: 2px solid #a3ab37;
   background: #b3b32d;
   background: -webkit-gradient(linear, left top, left bottom, from(#d8db8a), to(#3e779d));
   background: -webkit-linear-gradient(top, #d8db8a, #b3b32d);
   background: -moz-linear-gradient(top, #d8db8a, #b3b32d);
   background: -ms-linear-gradient(top, #d8db8a, #b3b32d);
   background: -o-linear-gradient(top, #d8db8a, #b3b32d);
   background-image: -ms-linear-gradient(top, #d8db8a 0%, #b3b32d 100%);
   color: #f2f28a;
   }

   #mapcolor-1{
     background-color:  #FFECF9;
   }
   #mapcolor-2{
     background-color:  #FFFF60;
   }
   #mapcolor-3{
     background-color:  #FFECDF;
   }
   #mapcolor-4{
     background-color:  #FFECD2;
   }
   #mapcolor-5{
     background-color:  #FF8C19;
   }
   #mapcolor-6{
     background-color:  #FFECBF;
   }


                     
   #mapcolor-7{
     background-color:  #B6FFFF;
   }
   #mapcolor-8{
     background-color:  #B6FFB6;
   }
   #mapcolor-9{
     background-color:  #B6FFA5;
   }
   #mapcolor-10{
     background-color:  #B6FF4E;
   }
   #mapcolor-11{
     background-color:  #B6FF23;
   }
   #mapcolor-12{
     background-color:  #B6FF00;
   }



   #mapcolor-13{
     background-color:  #FF9FFF;
   }
   #mapcolor-14{
     background-color:  #C89FFF;
   }
   #mapcolor-15{
     background-color:  #BB9FFF;
   }
   #mapcolor-16{
     background-color:  #9F9FFF;
   }
   #mapcolor-17{
     background-color:  #5A9FFF;
   }
   #mapcolor-18{
     background-color:  #3F9FFF;
   }