<%= javascript_include_tag 'shared/shared.js' %>

<h1 id="collection-header">Collection of shared maps</h1>


<div class="container">
  <div class="row maps-collection">

  </div>
</div>


<div class="container" id="up">
  <div id="comments-list">
    <div id="comments-gallery" class="body">
    </div>
    </div>
  </div>
