<%= javascript_include_tag 'usermaps/studycase.js' %>

<h1 class='elegantshadow2'>UFO sigthings Torque visualization</h1>
<div class="container">
  <div class="row">
    <div id="map" class="col-md-12 map-container studycase">
    </div>
  </div>
</div>
<h1 class='elegantshadow2'>UFO sigthings Torque heat map visualization</h1><br>
<div class="container">
  <div class="row">
    <div id="map2" class="col-md-12 map-container studycase">
    </div>
  </div>
</div>
<h1 class='elegantshadow2'>UFO sigthings Torque visualization</h1><div class="container">
  <div class="row">
    <div id="map3" class="col-md-12 map-container studycase">
    </div>
  </div>
</div>








