<% unless @maps.nil? %>
  <section class="container">
    <div class="row">
        <% @maps.each do |map| %>
        <div>
          <%=  map.description %>
        </div> 
        <% end %>
    </div>
  </section>
<% end %>